<form [formGroup]="form" (ngSubmit)="createGame()">
  <div class="py-4">
    <p-radioButton formControlName="color"
                   [value]="1"
                   label="Red"
                   class="mr-4"
    ></p-radioButton>
    <p-radioButton formControlName="color"
                   [value]="-1"
                   label="Yellow"
    ></p-radioButton>
  </div>
  <div class="py-4">
    <p-checkbox [binary]="true" label="Play against AI" formControlName="versusAI"></p-checkbox>
  </div>
  <div class="py-4">
    <p>Difficulty: {{aiDepthControl.value}}</p>
    <p-slider [style]="{ maxWidth: '250px' }"
              [min]="1"
              [max]="5" formControlName="aiDepth"></p-slider>
  </div>
  <div class="py-4 flex justify-content-end">
    <p-button type="submit" label="Create"></p-button>
  </div>
</form>
