<div id="games">
  <p-button [disabled]="!!grid$()" label="Créer une partie" (onClick)="createGameOpen = true"></p-button>
  <p-table [value]="games$()">
    <ng-template pTemplate="header">
      <tr>
        <th>Rouge</th>
        <th>VS</th>
        <th>Jaune</th>
      </tr>
    </ng-template>
    <ng-template let-game pTemplate="body">
      <tr>
        <td>
          @if(game.redPlayerId) {
            {{ game.redPlayerId }}
          } @else if (game.versusAI) {
            Ordi
          } @else if (game.yellowPlayerId === currentUserId){
            En attente
          } @else {
            <p-button label="Rejoindre" (onClick)="join(game.id)"></p-button>
          }
        </td>
        <td>
          VS
        </td>
        <td>
          @if(game.yellowPlayerId) {
            {{ game.yellowPlayerId }}
          } @else if (game.versusAI) {
            Ordi
          } @else if (game.redPlayerId === currentUserId){
            En attente
          } @else {
            <p-button label="Rejoindre" (onClick)="join(game.id)"></p-button>
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div id="selected">
    @if(grid$()?.grid) {
        <div id="grid">
            @for (column of grid$()?.grid; track $index) {
                <div class="column" (click)="play($index)">
                    @for (cell of column; track $index) {
                        <div class="cell">
                            <div *ngIf="cell" class="coin" [ngClass]="{ red: cell === 1, yellow: cell === -1 }"></div>
                        </div>
                    }
                </div>
            }
        </div>
    }
    <p-dialog [(visible)]="createGameOpen"
          [style]="{width: '50vw'}" [breakpoints]="{ '920px': '70vw' }" header="Créer une partie"
          [modal]="true"
>
      <form [formGroup]="form" (ngSubmit)="createGame()">
        <div class="py-4">
          <p-radioButton formControlName="color"
                        [value]="1"
                        label="Rouge"
                        class="mr-4"
                        ></p-radioButton>
          <p-radioButton formControlName="color"
                        [value]="-1"
                        label="Jaune"
          ></p-radioButton>
        </div>
        <div class="py-4">
          <p-checkbox [binary]="true" label="Jouer contre l'ordi" formControlName="versusAI"></p-checkbox>
        </div>
        <div class="py-4 flex justify-content-end">
          <p-button type="submit" label="Créer"></p-button>
        </div>
      </form>
    </p-dialog>
  </div>

