<div id="games">
  <p-button class="my-4"
            [disabled]="!!game() || status() !== 'connected'"
            label="Créer une partie"
            (onClick)="createGameOpen = true"></p-button>
  <p-dialog [(visible)]="createGameOpen"
            [style]="{width: '50vw'}"
            [breakpoints]="{ '920px': '70vw' }"
            [modal]="true"
            header="Créer une partie"
  >
    <app-create-game-form (onClose)="createGameOpen = false"></app-create-game-form>
  </p-dialog>
  <p-table [value]="games() ?? []">
    <ng-template pTemplate="header">
      <tr>
        <th>Red</th>
        <th class="text-center">VS</th>
        <th class="text-right">Yellow</th>
      </tr>
    </ng-template>
    <ng-template let-game pTemplate="body">
      <tr appGameRow [game]="game"></tr>
    </ng-template>
  </p-table>
</div>
<div id="currentGame">
  @if (game()) {
    <div class="flex justify-content-end gap-3 mb-3">
      @if(!game()?.winner && (game()?.yellowPlayerStatus === 'connecting' || game()?.redPlayerStatus === 'connecting')) {
        <p-button severity="info"
                  size="small"
                  label="Claim victory"
                  (onClick)="claimVictory()"></p-button>
      }
      <p-button severity="danger"
                size="small"
                label="Leave the game"
                (onClick)="leave()"></p-button>
    </div>
    <app-game-header class="mb-3" [game]="game()" [gameResult]="gameResult"></app-game-header>
    <app-grid [game]="game()"></app-grid>
    <p-confirmDialog key="LEAVE"></p-confirmDialog>
    <p-confirmDialog key="GAME_COMPLETE"></p-confirmDialog>
    <p-confirmDialog key="CLAIM_VICTORY"></p-confirmDialog>
  }
</div>

