:host {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;

  #games {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 10px;
    height: 100%;
  }

  #currentGame {
    flex: 1;
    .game-header {
      display: flex;
      height: 50px;
      align-items: center;
      font-size: 16px;
      border-bottom: 1px solid grey;
    }
  }
}
@media screen and (min-width: 768px) {
  :host {
    flex-direction: row;
    #games {
      width: 300px;
    }
  }
}
