<div class="card">
  <h2>Login</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="my-4">
      <p-floatLabel>
        <input class="w-full" formControlName="username" pInputText type="text">
        <label>Username</label>
      </p-floatLabel>
    </div>
    <div class="my-4">
      <p-floatLabel>
        <input pPassword class="w-full" formControlName="password">
        <label>Password</label>
      </p-floatLabel>
    </div>
    <div class="my-4 flex justify-content-end">
      <p-button type="submit"
                label="Send"
                icon="pi pi-send"
                iconPos="right"
                [disabled]="form.invalid || isLoading"
                [loading]="isLoading"
                severity="info"></p-button>
    </div>
  </form>
  <div class="flex justify-content-center">
    <p-button routerLink="/register"
              label="Not registered ?"
              [link]="true"></p-button>
  </div>
</div>
